In [1]:
import numpy as np
import pandas as pd
#Visualizaci√≥n
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import seaborn as sns

url_fichero_ene18 = 'https://opendata-ajuntament.barcelona.cat/data/dataset/1dffc2aa-882e-4765-bb98-9f77e1b21d4a/resource/b7e5a71c-7e61-4488-bc38-8f6824ecae96/download'
dfTrafEne18 = pd.read_csv(url_fichero_ene18)

print(dfTrafEne18)

        idTram  infoDisponible            data  tempsActual  tempsPrevist  \
0            1               1  20180101001553          300           299
1            2               1  20180101001553          256           255
2            3               1  20180101001553          304           304
3            4               1  20180101001553          324           324
4            5               1  20180101001553            0             0
...        ...             ...             ...          ...           ...
122257      78               1  20180131235052            0             0
122258    2001               1  20180131235052            0             0
122259    2002               1  20180131235052            0             0
122260    2003               1  20180131235052            0             0
122261    2004               1  20180131235052            0             0

        tempsRecorregutFutur  factorReferenciaActual  tendencia
0                          1                       1          1
1                          1                       1          1
2                          1                       1          1
3                          1                       1          1
4                         -1                      -1         -1
...                      ...                     ...        ...
122257                    -1                      -1         -1
122258                    -1                      -1         -1
122259                    -1                      -1         -1
122260                    -1                      -1         -1
122261                    -1                      -1         -1

[122262 rows x 8 columns]

In [2]:
dfTrafEne18.dtypes

idTram                    int64
infoDisponible            int64
data                      int64
tempsActual               int64
tempsPrevist              int64
tempsRecorregutFutur      int64
factorReferenciaActual    int64
tendencia                 int64
dtype: object

In [3]:
dfTrafEne18.describe()

,idTram,infoDisponible,data,tempsActual,tempsPrevist,tempsRecorregutFutur,factorReferenciaActual,tendencia
count,122262.000000,122262.000000,1.222620e+05,122262.000000,122262.000000,122262.000000,122262.000000,122262.00000
mean,135.256098,0.756098,2.018012e+13,162.944684,160.974612,0.276693,0.257251,0.25703
std,423.419066,0.429436,8.939986e+06,186.200153,185.754647,0.977691,0.977566,0.97135
min,1.000000,0.000000,2.018010e+13,0.000000,0.000000,-1.000000,-1.000000,-1.00000
25%,21.000000,1.000000,2.018011e+13,0.000000,0.000000,-1.000000,-1.000000,-1.00000
50%,41.500000,1.000000,2.018012e+13,138.000000,135.000000,1.000000,1.000000,1.00000
75%,62.000000,1.000000,2.018012e+13,238.000000,237.000000,1.000000,1.000000,1.00000
max,2004.000000,1.000000,2.018013e+13,3448.000000,2495.000000,2.000000,2.000000,2.00000

In [4]:
dfTrafEne18['tempsActual'].value_counts()

0       44244
164      2394
260      2111
104      1705
1108     1482
        ...
602         1
538         1
474         1
410         1
1279        1
Name: tempsActual, Length: 649, dtype: int64

Quitamos las filas que contienen valor '0' de Tiempo Actual.

In [5]:
dfTrafEne18 = dfTrafEne18.drop(dfTrafEne18[dfTrafEne18['tempsActual']==0].index)
print(dfTrafEne18)

        idTram  infoDisponible            data  tempsActual  tempsPrevist  \
0            1               1  20180101001553          300           299
1            2               1  20180101001553          256           255
2            3               1  20180101001553          304           304
3            4               1  20180101001553          324           324
5            6               1  20180101001553          275           275
...        ...             ...             ...          ...           ...
122252      73               0  20180131235052           95             0
122253      74               0  20180131235052           76             0
122254      75               0  20180131235052          214             0
122255      76               0  20180131235052           75             0
122256      77               1  20180131235052          430             0

        tempsRecorregutFutur  factorReferenciaActual  tendencia
0                          1                       1          1
1                          1                       1          1
2                          1                       1          1
3                          1                       1          1
5                          1                       1          1
...                      ...                     ...        ...
122252                     1                      -1         -1
122253                     1                      -1         -1
122254                     1                      -1         -1
122255                     2                      -1         -1
122256                     1                      -1         -1

[78018 rows x 8 columns]

Eliminamos las columnas que no nos interesan para nuestro an√°lisis

In [6]:
dfTrafEne18 = dfTrafEne18.drop(columns=['idTram','infoDisponible','tempsPrevist','tempsRecorregutFutur','factorReferenciaActual','tendencia'])
print(dfTrafEne18)

                  data  tempsActual
0       20180101001553          300
1       20180101001553          256
2       20180101001553          304
3       20180101001553          324
5       20180101001553          275
...                ...          ...
122252  20180131235052           95
122253  20180131235052           76
122254  20180131235052          214
122255  20180131235052           75
122256  20180131235052          430

[78018 rows x 2 columns]

Ahora vamos a convertir el campo 'data' en formato Fecha para convertirlo en Indice

In [7]:
dfTrafEne18['data'] = pd.to_datetime(dfTrafEne18['data'], format='%Y%m%d%H%M%S')
print(dfTrafEne18)

                      data  tempsActual
0      2018-01-01 00:15:53          300
1      2018-01-01 00:15:53          256
2      2018-01-01 00:15:53          304
3      2018-01-01 00:15:53          324
5      2018-01-01 00:15:53          275
...                    ...          ...
122252 2018-01-31 23:50:52           95
122253 2018-01-31 23:50:52           76
122254 2018-01-31 23:50:52          214
122255 2018-01-31 23:50:52           75
122256 2018-01-31 23:50:52          430

[78018 rows x 2 columns]

In [8]:
dfTrafEne18 = dfTrafEne18.set_index('data')
print(dfTrafEne18)

                     tempsActual
data
2018-01-01 00:15:53          300
2018-01-01 00:15:53          256
2018-01-01 00:15:53          304
2018-01-01 00:15:53          324
2018-01-01 00:15:53          275
...                          ...
2018-01-31 23:50:52           95
2018-01-31 23:50:52           76
2018-01-31 23:50:52          214
2018-01-31 23:50:52           75
2018-01-31 23:50:52          430

[78018 rows x 1 columns]

In [9]:
dfTrafEne18.head(50)

                     tempsActual
data
2018-01-01 00:15:53          300
2018-01-01 00:15:53          256
2018-01-01 00:15:53          304
2018-01-01 00:15:53          324
2018-01-01 00:15:53          275
2018-01-01 00:15:53          184
2018-01-01 00:15:53           99
2018-01-01 00:15:53          230
2018-01-01 00:15:53          676
2018-01-01 00:15:53          237
2018-01-01 00:15:53          554
2018-01-01 00:15:53          189
2018-01-01 00:15:53          240
2018-01-01 00:15:53          243
2018-01-01 00:15:53          260
2018-01-01 00:15:53          185
2018-01-01 00:15:53          260
2018-01-01 00:15:53          395
2018-01-01 00:15:53          219
2018-01-01 00:15:53          229
2018-01-01 00:15:53          220
2018-01-01 00:15:53          152
2018-01-01 00:15:53          175
2018-01-01 00:15:53          205
2018-01-01 00:15:53          204
2018-01-01 00:15:53          211
2018-01-01 00:15:53          180
2018-01-01 00:15:53          190
2018-01-01 00:15:53          269
2018-01-01 00:15:53          299
2018-01-01 00:15:53          164
2018-01-01 00:15:53          120
2018-01-01 00:15:53          384
2018-01-01 00:15:53          345
2018-01-01 00:15:53          104
2018-01-01 00:15:53          414
2018-01-01 00:15:53         1108
2018-01-01 00:15:53          127
2018-01-01 00:15:53           97
2018-01-01 00:15:53          202
2018-01-01 00:15:53          106
2018-01-01 00:15:53          113
2018-01-01 00:15:53          143
2018-01-01 00:15:53           89
2018-01-01 00:15:53          175
2018-01-01 00:15:53          212
2018-01-01 00:15:53           81
2018-01-01 00:15:53          430
2018-01-01 00:45:53          303
2018-01-01 00:45:53          257

In [10]:
dfTrafEne18 = dfTrafEne18.resample('D').median()
print(dfTrafEne18)

            tempsActual
data
2018-01-01          213
2018-01-02          219
2018-01-03          216
2018-01-04          219
2018-01-05          212
2018-01-06          215
2018-01-07          212
2018-01-08          219
2018-01-09          219
2018-01-10          219
2018-01-11          219
2018-01-12          220
2018-01-13          213
2018-01-14          214
2018-01-15          220
2018-01-16          220
2018-01-17          219
2018-01-18          220
2018-01-19          220
2018-01-20          212
2018-01-21          211
2018-01-22          219
2018-01-23          220
2018-01-24          220
2018-01-25          221
2018-01-26          225
2018-01-27          219
2018-01-28          219
2018-01-29          220
2018-01-30          220
2018-01-31          221